<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/SimpleNavi.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.simplenavi.simplenavi</string>
		<key>CFBundleShortVersionString</key>
		<string>1.2</string>
		<key>CFBundleVersion</key>
		<string>10</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Wenxin Wei (JL8AQRKH3J)</string>
		<key>Team</key>
		<string>K2ZG73WM9X</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2025-10-03T10:22:00Z</date>
	<key>Name</key>
	<string>SimpleNavi</string>
	<key>SchemeName</key>
	<string>SimpleNavi</string>
</dict>
</plist>
